/* div .main-content-home {
    background: url(/client/build/static/media/earth.jpg);
} */

.weather-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.cityname-display {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.future-forecast {
    color: white;
    display: flex;
    justify-content: center;
    padding: 10%;
}