
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Cinzel&display=swap');


.Weather-Form {
    
        font-family: 'Cinzel', serif;
        border: none;
        
        display: inline-block;
    }
    




.Weather-Form-Search-Bar {
    font-family: 'Cinzel', serif;
    background-color: #333;
    color: #fff;
    border: none;
}

.Weather-Form-Button {
    font-family: 'Cinzel', serif;
}


button {
    font-family: 'Cinzel', serif;
}